In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rxnach/student-stress-factors-a-comprehensive-analysis")

print("Path to dataset files:", path)

c:\Users\am536\OneDrive\Documents\StudentStress-Model\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/rxnach/student-stress-factors-a-comprehensive-analysis?dataset_version_number=1...

100%|██████████| 11.7k/11.7k [00:00<00:00, 6.30MB/s]

Extracting files...
Path to dataset files: C:\Users\am536\.cache\kagglehub\datasets\rxnach\student-stress-factors-a-comprehensive-analysis\versions\1

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

In [6]:
dataset = pd.read_csv("StressLevelDataset.csv")
dataset.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1

In [11]:
print("Null values:", dataset.isnull().sum())

Null values: anxiety_level                   0
self_esteem                     0
mental_health_history           0
depression                      0
headache                        0
blood_pressure                  0
sleep_quality                   0
breathing_problem               0
noise_level                     0
living_conditions               0
safety                          0
basic_needs                     0
academic_performance            0
study_load                      0
teacher_student_relationship    0
future_career_concerns          0
social_support                  0
peer_pressure                   0
extracurricular_activities      0
bullying                        0
stress_level                    0
dtype: int64

In [12]:
dataset.describe()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,...,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,11.063636,17.777273,0.492727,12.555455,2.508182,2.181818,2.660000,2.753636,2.649091,2.518182,...,2.772727,2.772727,2.621818,2.648182,2.649091,1.881818,2.734545,2.767273,2.617273,0.996364
std,6.117558,8.944599,0.500175,7.727008,1.409356,0.833575,1.548383,1.400713,1.328127,1.119208,...,1.433761,1.414594,1.315781,1.384579,1.529375,1.047826,1.425265,1.417562,1.530958,0.821673
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,11.000000,0.000000,6.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000
50%,11.000000,19.000000,0.000000,12.000000,3.000000,2.000000,2.500000,3.000000,3.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.500000,3.000000,1.000000
75%,16.000000,26.000000,1.000000,19.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,...,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,2.000000
max,21.000000,30.000000,1.000000,27.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,5.000000,2.000000

In [13]:
dataset.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20,0,11,2,1,2,4,2,3,...,2,3,2,3,3,2,3,3,2,1
1,15,8,1,15,5,3,1,4,3,1,...,2,1,4,1,5,1,4,5,5,2
2,12,18,1,14,2,1,2,2,2,2,...,2,2,3,3,2,2,3,2,2,1
3,16,12,1,15,4,3,1,3,4,2,...,2,2,4,1,4,1,4,4,5,2
4,16,28,0,7,2,3,5,1,3,2,...,3,4,3,1,2,1,5,0,5,1

In [16]:
from sklearn.model_selection import train_test_split
X = dataset.drop("stress_level", axis=1)
y = dataset["stress_level"]

In [17]:
X.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,safety,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying
0,14,20,0,11,2,1,2,4,2,3,3,2,3,2,3,3,2,3,3,2
1,15,8,1,15,5,3,1,4,3,1,2,2,1,4,1,5,1,4,5,5
2,12,18,1,14,2,1,2,2,2,2,3,2,2,3,3,2,2,3,2,2
3,16,12,1,15,4,3,1,3,4,2,2,2,2,4,1,4,1,4,4,5
4,16,28,0,7,2,3,5,1,3,2,4,3,4,3,1,2,1,5,0,5

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, recall_score, f1_score
from sklearn.preprocessing import StandardScaler

In [23]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [31]:
models={
    "Logistic Regression":LogisticRegression(),
    "K-Nearest Neighbors":KNeighborsClassifier(),
    "Support Vector Machine":SVC(),
    "Gaussian Naive Bayes":GaussianNB(),
    "Decision Tree":DecisionTreeClassifier(),
    "Random Forest":RandomForestClassifier()
}
print("Models to be trained:", list(models.keys()))

for i in range(len(list(models))):
    model = list(models.values())[i]
    
    try:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        
        print(f"Model: {list(models.keys())[i]}")
        print("Accuracy:", accuracy_score(y_test, y_pred))
        print("Precision:", precision_score(y_test, y_pred, average='weighted'))
        print("Recall:", recall_score(y_test, y_pred, average='weighted'))
        print("F1 Score:", f1_score(y_test, y_pred, average='weighted'))
        print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
        print("Classification Report:\n", classification_report(y_test, y_pred))
        print("="*100)
        print("\n")
    except Exception as e:
        print(f"An error occurred while training {list(models.keys())[i]}: {e}")
        print("="*100)
        print("\n")

Models to be trained: ['Logistic Regression', 'K-Nearest Neighbors', 'Support Vector Machine', 'Gaussian Naive Bayes', 'Decision Tree', 'Random Forest']
Model: Logistic Regression
Accuracy: 0.8818181818181818
Precision: 0.882077922077922
Recall: 0.8818181818181818
F1 Score: 0.8819205825463647
Confusion Matrix:
 [[66  6  4]
 [ 7 64  2]
 [ 4  3 64]]
Classification Report:
               precision    recall  f1-score   support

           0       0.86      0.87      0.86        76
           1       0.88      0.88      0.88        73
           2       0.91      0.90      0.91        71

    accuracy                           0.88       220
   macro avg       0.88      0.88      0.88       220
weighted avg       0.88      0.88      0.88       220

====================================================================================================


Model: K-Nearest Neighbors
Accuracy: 0.8590909090909091
Precision: 0.8594603152265691
Recall: 0.8590909090909091
F1 Score: 0.8590283599843738
Confusion Matrix:
 [[64  7  5]
 [ 5 65  3]
 [ 7  4 60]]
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.84      0.84        76
           1       0.86      0.89      0.87        73
           2       0.88      0.85      0.86        71

    accuracy                           0.86       220
   macro avg       0.86      0.86      0.86       220
weighted avg       0.86      0.86      0.86       220

====================================================================================================


Model: Support Vector Machine
Accuracy: 0.8545454545454545
Precision: 0.8590322451911565
Recall: 0.8545454545454545
F1 Score: 0.8552881130586958
Confusion Matrix:
 [[67  4  5]
 [ 8 62  3]
 [10  2 59]]
Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.88      0.83        76
           1       0.91      0.85      0.88        73
           2       0.88      0.83      0.86        71

    accuracy                           0.85       220
   macro avg       0.86      0.85      0.86       220
weighted avg       0.86      0.85      0.86       220

====================================================================================================


Model: Gaussian Naive Bayes
Accuracy: 0.9
Precision: 0.9157235769991853
Recall: 0.9
F1 Score: 0.9018102420303008
Confusion Matrix:
 [[68  0  8]
 [ 1 61 11]
 [ 2  0 69]]
Classification Report:
               precision    recall  f1-score   support

           0       0.96      0.89      0.93        76
           1       1.00      0.84      0.91        73
           2       0.78      0.97      0.87        71

    accuracy                           0.90       220
   macro avg       0.91      0.90      0.90       220
weighted avg       0.92      0.90      0.90       220

====================================================================================================


Model: Decision Tree
Accuracy: 0.9045454545454545
Precision: 0.9052262895719997
Recall: 0.9045454545454545
F1 Score: 0.9046369737644905
Confusion Matrix:
 [[68  6  2]
 [ 1 67  5]
 [ 4  3 64]]
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.89      0.91        76
           1       0.88      0.92      0.90        73
           2       0.90      0.90      0.90        71

    accuracy                           0.90       220
   macro avg       0.90      0.90      0.90       220
weighted avg       0.91      0.90      0.90       220

====================================================================================================


Model: Random Forest
Accuracy: 0.8954545454545455
Precision: 0.8961326033866507
Recall: 0.8954545454545455
F1 Score: 0.8955922865013775
Confusion Matrix:
 [[68  2  6]
 [ 5 65  3]
 [ 4  3 64]]
Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.89      0.89        76
           1       0.93      0.89      0.91        73
           2       0.88      0.90      0.89        71

    accuracy                           0.90       220
   macro avg       0.90      0.90      0.90       220
weighted avg       0.90      0.90      0.90       220

====================================================================================================

In [28]:
random_forest_model = RandomForestClassifier()
random_forest_model.fit(X_train, y_train)
y_pred = random_forest_model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Random Forest Model Accuracy:", accuracy)
precision = precision_score(y_test, y_pred, average='weighted')
print("Random Forest Model Precision:", precision)
recall = recall_score(y_test, y_pred, average='weighted')
print("Random Forest Model Recall:", recall)
f1 = f1_score(y_test, y_pred, average='weighted')
print("Random Forest Model F1 Score:", f1)
conf_matrix = confusion_matrix(y_test, y_pred)
print("Random Forest Model Confusion Matrix:\n", conf_matrix)
class_report = classification_report(y_test, y_pred)
print("Random Forest Model Classification Report:\n", class_report)

Random Forest Model Accuracy: 0.8636363636363636
Random Forest Model Precision: 0.8641078366078366
Random Forest Model Recall: 0.8636363636363636
Random Forest Model F1 Score: 0.8636817727726819
Random Forest Model Confusion Matrix:
 [[66  5  5]
 [ 6 62  5]
 [ 6  3 62]]
Random Forest Model Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.87      0.86        76
           1       0.89      0.85      0.87        73
           2       0.86      0.87      0.87        71

    accuracy                           0.86       220
   macro avg       0.86      0.86      0.86       220
weighted avg       0.86      0.86      0.86       220